---
layout: layouts/home.njk
eleventyNavigation:
key: Home
order: 1
numberOfLatestPostsToShow: 20
---

<p><b>Welcome! This the homepage of Daniel Nemenyi. Thanks for dropping by.</b></p>

<p>I'm  a visiting researcher at Leuphana University Lüneburg, as part of their <a href=":https://www.leuphana.de/en/portals/research-initiative-the-disruptive-condition.html">Disruptive Condition research initiative</a>.</p>

<p>My research generally involves a rereading of what philosopher Gilles Deleuze called the 'society of control', doing so through the history of  cybernetics and philosophy. Currently I'm working on the figure of the Greek <i>kubernetes</i>, the helmsman after which cybernetics was named. My work in rooted in a reading of Norbert Wiener, the founder of cybernetics, as a post-Leibnizian philosopher. If you're interested in my argument for that, see my piece 'Robot Makes Free: The Leibnizian cryptowar of Norbert Wiener' (<a href="files/rp214_nemenyi_robot_makes_free.pdf">PDF</a>). Book-length version forthcoming.</p>

<p>Besides philosophy I enjoy tinkering with code, especially in Emacs Lisp and LaTeX, drawing and cinema.</p>

<p>Before moving to Germany, I've spent most of my life in the UK. I've  also lived in Iceland and Sweden, and I was born in Israel.</p>

{% set postsCount = collections.posts | length %} {% set
latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<h2>Publications and academic writing</h2>

<ul>
    <li>
	Daniel Nemenyi, <b>'Why I Map Concepts'</b>, LIAS Magazine 23/24, 2024, pp. 66–73 (<a href="files/2024__nemenyi~~why-i-map-concepts.pdf">PDF</a> )</li>
    <li>
	Daniel Nemenyi, <b>'Robot Makes Free: The Leibnizian cryptowar of
	Norbert Wiener'</b>, <em>Radical Philosophy</em> 2.14, Spring
	2023, 3–20. (<a href="files/rp214_nemenyi_robot_makes_free.pdf">PDF</a>)
    </li>
    <li>
	Daniel Nemenyi, <b>'How we never became posthuman: Homeostasis as conflict
	from Claude Bernard to Norbert Wiener'</b>, <em>Distributed
	Perception</em>, ed. Natasha Lushetich and Iain Campbell (London:
	Routledge, 2021), 160-173.
	(<a href="files/2021__nemenyi~~how-we-never-became-posthuman.pdf">PDF</a>)
    </li>

    <li>
	Daniel Nemenyi, <b>'Position paper'</b>, <em>Terra Critica</em>, (July
	2019). A reading of Alexandre Koyré's 'The Political Function
	of the Modern Lie' together with Stuart Hall's 'The Meaning of New
	Times'.
	(<a href="files/pospaper_Nemenyi_London2019.pdf">PDF</a>)
    </li>

    <li>Daniel Nemenyi, <b><em>What is an internet? Norbert
	Wiener and the society of control</em></b> February 2019 PhD thesis
	supervised by Prof. Howard Caygill at CRMEP, Kingston
	University.
    </li>

    <li>Daniel Nemenyi, <b>'Submarine State: On secrets and leaks'</b>,
	<em>Radical Philosophy</em>, 193 (Sept/Oct 2015)</a>, 2-8.
 	(<a href="files/rp193_nemenyi_commentary_nemenyi_submarine_state.pdf">PDF</a>)
    </li>

    <li>
	Daniel Nemenyi, <b>'Rose-tinted lens'</b>, <em>Radical Philosophy</em>, 186
	(Jul/Aug 2014)</a>. Review of <em>Hannah Arendt</em>, dir.
	Margarethe von Trotta, 60-63.
	(<a href="files/rp186_nemenyi_trotta_rose_tinted_lens_arendt_review.pdf">PDF</a>)
    </li>

    <li>
	Daniel Nemenyi, <b><em>The Remnant: A politico-Theological Critique</em></b> (2012). MA dissertation supervised by Prof. Howard Caygill at CRMEP, Kingston University. Awarded the annual departmental prize for Outstanding Achievement in Modern European Philosophy.
    </li>

</ul>

<h2>Academic appointments</h2>

<ul>
    <li>2024-2025 > <b><a href="https://www.leuphana.de/gastwissenschaftlerinnen.html">Gastwissenschaftler ('Guest Scientist')</a></b> on the <a href="https://www.leuphana.de/portale/forschungsinitiative-die-disruptive-bedingung.html">Disruptive Condition</a> research project, Leuphana University Lüneburg.</li>
    <li>2023-2024 > <b><a href="https://www.leuphana.de/en/research-centers/lias/fellows/daniel-nemenyi.html">Research Fellow</a></b>, Leuphana Institute of Advanced Studies (LIAS), Leuphana University Lüneburg.</li>
    <li>2022-2023 > <b>Postdoctoral Research Assistant in Philosophy</b>: <a href="https://latoupiefolle.org/about">The Pragmatic Genealogy of Concepts, <em>La toupie folle</em> [The Mad Spinning Top]</a>: The Pragmatic Genealogy of Concepts, King's College London. Built a custom <em><a href="https://en.wikipedia.org/wiki/Zettelkasten">Zettelkasten</a></em> website tool.</li>
    <li>2022-2023 > <b>Tutor in Philosophy</b> at the Mary Ward Centre, London</li>
    <li>2022-2023 > <b>Lecturer in Ethics</b>, University of Greenwich</li>
    <li>2019-2021 > <b>Lecturer in Big Data Methodologies and Technologies Education</b> at the Department of Digital Humanities, King’s College London.</li>
    <li>2014-2019 > <a href="http://www.techne.ac.uk/">Techne AHRC</a> funded <b>PhD in Philosophy</b> to work on my project, 'What is the Internet? An Ontological Investigation', <a href="https://www.kingston.ac.uk/faculties/kingston-school-of-art/research-and-innovation/crmep/">Centre for Research in Modern European Philosophy</a>, Kingston University. The final title of my thesis was, <em>What is an internet? Norbert Wiener and the society of control</em>.</li>
</ul>


<h2>Projects</h2>
<ul>
    <li>2012-2024 (<em>RP</em> 175-2.15) > <em>Radical Philosophy</em>. Editorial, technical, operational, archival and community roles.</li>
    <li><a href="https://okey.kompyuter.net/">Okey_Kompyuter</a>. Yiddish tech.</li>
</ul>

<h2>Blog posts</h2>

{% set postslist = collections.posts | head(-1 *
    numberOfLatestPostsToShow) %} {% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %} {% if
							     morePosts > 0 %} <p>{{ morePosts }} more post{% if morePosts != 1
													  %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

<h2>Some public talks</h2>

<ul>
    <li>
	Daniel Nemenyi, Activating the Possibles: The Humanities and
	the Task of Social Potentialisation, Leuphana University, 6
	June 2023. <a href="https://podcast.leuphana.de/the-humanities-and-the-task-of-social-potentialisation/">(Listen, starts at 15:00)</a>
    </li>

     <li>Daniel Nemenyi, 'Splinternet and globalisation: Two early
	 models of internet opposed', 4S Annual Meeting (167.
	 Splinternets), University of Toronto / Online, 6 October
	 2021. <a href="https://www.4sonline.org/167-splinternets/">(info)</a>
     </li>

     <li>Daniel Nemenyi, 'The Conflicting Determinations of
         Norbert Weiner and Leibniz', <em>Indeterminate Futures / The
         Future of Indeterminacy</em>, University of Dundee, 13 November 2020.
	 <a href="https://www.youtube.com/watch?v=nlSGbl0nGMw&amp;t=17s">(Watch)</a> <a href="https://indeterminacy.ac.uk/indeterminate-futures/">(info)</a>
     </li>
 </ul>

