---
layout: layouts/home.njk
eleventyNavigation:
key: Home
order: 1
numberOfLatestPostsToShow: 20
---

<p><b>Welcome! This the homepage of Daniel Nemenyi. Thanks for dropping by.</b></p>

<p>I'm  a visiting researcher at Leuphana University Lüneburg, as part of their <a href=":https://www.leuphana.de/en/portals/research-initiative-the-disruptive-condition.html">Disruptive Condition</a> research initiative.</p>

<p>My research involves new readings of what philosopher Gilles Deleuze called our contemporary 'control societies', doing so through philosophically tracing the history of its fundamental science, cybernetics. Currently I'm working on the figure of the ancient Greek <i>kubernétes</i>, the snaky helmsman after which cybernetics was named. My work is rooted in a reading of Norbert Wiener as a post-Leibnizian philosopher whose groundbreaking book <em>Cybernetics, or Control and Communication in Animal and Machine</em> (1948) sets out a system of thought and an agonistic ontology whose ultimate expression is the internet itself. For an introduction, see my article 'Robot Makes Free: The Leibnizian cryptowar of Norbert Wiener' (<a href="files/rp214_nemenyi_robot_makes_free.pdf">PDF</a>). </p>

<p>I completed my PhD at the Centre for Modern European Philosophy (CRMEP), Kingston University, in 2019. The title of my thesis is 'What is an internet? Norbert Wiener and the Society of Control'.</p>

<p>If you'd like to keep updated on my publications and talks, I send out a very occasional newsletter that maybe you'd be interested in? Sign up here (and really, thank you):</p>

<p><script async src="https://subscribe-forms.beehiiv.com/embed.js"></script><iframe src="https://subscribe-forms.beehiiv.com/11e68cf7-1ebb-4ece-b984-89e8ff63aa5f" class="beehiiv-embed" data-test-id="beehiiv-embed" frameborder="0" scrolling="no" style="width: ; height: ; margin: 0; border-radius: 0px 0px 0px 0px !important; background-color: transparent; box-shadow: 0 0 #0000;"></iframe></p>

<p>Besides philosophy I enjoy tinkering with code, especially in Emacs Lisp and LaTeX, as well as drawing and cinema. I hope to develop this website to reflect those interests...</p>

<p>Before moving to Germany, I'd spent most of my life in the UK. I've  also lived in Iceland and Sweden, and I was born in Israel.</p>

{% set postsCount = collections.posts | length %} {% set
latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<h2>Publications and academic writing</h2>

<ul>
    <li>
	Daniel Nemenyi, 'Why I Map Concepts', LIAS Magazine 23/24, 2024, pp. 66–73. (<a href="files/2024__nemenyi~~why-i-map-concepts.pdf">PDF</a> )</li>
    <li>
	Daniel Nemenyi, 'Robot Makes Free: The Leibnizian cryptowar of
	Norbert Wiener'</b>, <em>Radical Philosophy</em> 2.14, Spring
	2023, 3–20. (<a href="files/rp214_nemenyi_robot_makes_free.pdf">PDF</a>)
    </li>
    <li>
	Daniel Nemenyi, 'How we never became posthuman: Homeostasis as conflict
	from Claude Bernard to Norbert Wiener', <em>Distributed Perception</em>, ed. Natasha Lushetich and Iain Campbell (London:
	Routledge, 2021), 160-173.
	(<a href="files/2021__nemenyi~~how-we-never-became-posthuman.pdf">PDF</a>)
    </li>
    <li>
	Daniel Nemenyi, 'Position paper', <em>Terra Critica</em>, (July
	2019). A reading of Alexandre Koyré's 'The Political Function
	of the Modern Lie' together with Stuart Hall's 'The Meaning of New
	Times'.
	(<a href="files/pospaper_Nemenyi_London2019.pdf">PDF</a>)
    </li>

    <li>Daniel Nemenyi, <em>What is an internet? Norbert
	Wiener and the society of control</em> February 2019 PhD thesis
	supervised by Prof. Howard Caygill at CRMEP, Kingston
	University.
    </li>

    <li>Daniel Nemenyi, 'Submarine State: On secrets and leaks',
	<em>Radical Philosophy</em>, 193 (Sept/Oct 2015)</a>, 2-8.
 	(<a href="files/rp193_nemenyi_commentary_nemenyi_submarine_state.pdf">PDF</a>)
    </li>

    <li>
	Daniel Nemenyi, 'Rose-tinted lens', <em>Radical Philosophy</em>, 186
	(Jul/Aug 2014)</a>. Review of <em>Hannah Arendt</em>, dir.
	Margarethe von Trotta, 60-63.
	(<a href="files/rp186_nemenyi_trotta_rose_tinted_lens_arendt_review.pdf">PDF</a>)
    </li>

    <li>
	Daniel Nemenyi, <em>The Remnant: A politico-Theological Critique</em> (2012). MA dissertation supervised by Prof. Howard Caygill at CRMEP, Kingston University. Awarded the annual departmental prize for Outstanding Achievement in Modern European Philosophy.
    </li>

</ul>


<h2>Talks and papers</h2>

<ul>
    <li>
	<em>The Bifurcation Operation: Forking Modernity</em> (co-organiser with Erich Hörl), Leuphana Universität Lüneburg, 26-28.11.2025. (<a href="https://www.leuphana.de/en/portals/research-initiative-the-disruptive-condition/news/conferences/the-bifurcation-operation-forking-modernity.html">Info</a>)
    </li>

    <li>'Cybernetics and Snake Coils', Leuphana Universität Lüneburg, 24.06.2025. (<a href="https://www.leuphana.de/zentren/center-for-critical-studies/aktuell/termine/ansicht/2025/06/24/cybernetics-and-snake-coils-daniel-nemenyi.html">Info</a>)
	
	<li>
	    Discussion with Joshua Simon on cybernetics, information and AI. <a href="https://festival.shortfilm.com/en">Kurzfilm Festival Hamburg</a>, 06.06.2025.
	</li>
	
	<li>
	    'An Unrelated RAND Study: ARPANET and Nuclear Mythographies',
	    Centre for Digital Cultures, Leuphana Universität Lüneburg, 27.11.2024. (<a href="https://www.leuphana.de/en/research-centers/cdc/events/news/single-view/2024/11/26/an-unrelated-rand-study-arpanet-and-nuclear-mythographies.html">Info</a>)
	</li>

	<li>
	    'The Question Concerning Machines', The History of the Philosophy of Technology Conference, Maastricht University, 28-30.10.2024. (<a href="https://massimilianosimons.wordpress.com/2024/10/24/next-week-conference-on-the-history-of-philosophy-of-technology-28-30-october-maastricht/">Info</a>)

	    <li>
		Workshop: What is the University?, Centre for Humanities Research
		(CHR), University of Western Cape, Cape Town and Boschendal, 12--18.03.2023. (<a href="https://www.chrflagship.uwc.ac.za/workshop-what-is-the-university/">Info</a>)
	    </li>

	    <li>
		'Simulating Counterinsurgencies in the Sixties: The Case of
		Project CAM'. <em>The Digital Revolution as Counter-Revolution</em>,
		Leuphana Universität Lüneburg, 16-17.11.2023. (<a href="https://www.leuphana.de/en/institutes/ipk/news/events/single-view/2023/11/16/workshop-the-digital-revolution-as-counter-revolution.html">Info</a>)
	    </li>
	    
	    <li>
		Activating the Possibles: The Humanities and
		the Task of Social Potentialisation, Leuphana Universität Lüneburg, 6.06.2023. <a href="https://podcast.leuphana.de/the-humanities-and-the-task-of-social-potentialisation/">(Listen from 15:00)</a>
	    </li>

	    <li>'Splinternet and globalisation: Two early
		models of internet opposed', 4S Annual Meeting (167.
		Splinternets), University of Toronto / Online, 06.10.2021. <a href="https://www.4sonline.org/167-splinternets/">(Info)</a>
	    </li>

	    <li>'The Conflicting Determinations of
		Norbert Weiner and Leibniz', <em>Indeterminate Futures / The
		Future of Indeterminacy</em>, University of Dundee, 13.11.2020.
		<a href="https://www.youtube.com/watch?v=nlSGbl0nGMw&amp;t=17s">(Watch</a>, <a href="https://indeterminacy.ac.uk/indeterminate-futures/">info)</a>
	    </li>

	    <li>
		'Cybernetic Guerilla Warfare', Happy Packet Switching! 50
		Years of Internet (co-organiser with Ashwin J. Mathew), King's College London, 06.11.2019. (<a href="https://kingsdh.net/2019/11/11/slides-happy-packet-switching/">Info</a>)
	    </li>

	    <li>'Back to Leibniz! The Internet and Norbert Wiener', <em>Leibniz: legacy and impact</em>, Manchester Metropolitan University, 05.11.2016.
	    </li>
</ul>



<h2>Academic appointments</h2>

<ul>
    <li>2024-2025 > Visiting researcher (<em>Gastwissenschaftler</em>) on the <a href="https://www.leuphana.de/portale/forschungsinitiative-die-disruptive-bedingung.html">Disruptive Condition</a> research project, Leuphana University Lüneburg.</li>
    <li>2023-2024 > Research Fellow, Leuphana Institute of Advanced Studies (LIAS), Leuphana University Lüneburg. (<a href="https://www.leuphana.de/en/research-centers/lias/fellows/daniel-nemenyi.html">Info.</a>)</li>
    <li>2022-2023 > Postdoctoral Research Assistant in Philosophy: <a href="https://latoupiefolle.org/about">The Pragmatic Genealogy of Concepts, <em>La toupie folle</em> [The Mad Spinning Top]</a>: The Pragmatic Genealogy of Concepts, King's College London. Built a custom <em>Zettelkasten</em> website tool.</li>
    <li>2022-2023 > Tutor in Philosophy at the Mary Ward Centre, London</li>
    <li>2022-2023 > Lecturer in Ethics, University of Greenwich</li>
    <li>2019-2021 > Lecturer in Big Data Methodologies and Technologies Education at the Department of Digital Humanities, King’s College London.</li>
    <li>2014-2019 > <a href="http://www.techne.ac.uk/">Techne AHRC</a> funded PhD in Philosophy to work on my project, 'What is the Internet? An Ontological Investigation', <a href="https://www.kingston.ac.uk/faculties/kingston-school-of-art/research-and-innovation/crmep/">Centre for Research in Modern European Philosophy</a>, Kingston University. The final title of my thesis was, <em>What is an internet? Norbert Wiener and the society of control</em>.</li>
</ul>


<h2>Blog posts</h2>

{% set postslist = collections.posts | head(-1 *
    numberOfLatestPostsToShow) %} {% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %} {% if
							     morePosts > 0 %} <p>{{ morePosts }} more post{% if morePosts != 1
													  %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

